@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
}

@layer base {
    body {
        font-family: var(--va-font-family, "ui-sans-serif", system-ui, "Segoe UI Semibold");
    }
}

.va-navbar.header {
    --va-font-family: "ui-sans-serif", system-ui, "Segoe UI Semibold";
    --va-navbar-padding-y: 0px;
}
